body{
    margin:0px;
}

.headercontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    text-transform: uppercase ;
}
.logo{
    width: 155px;
    max-width: 155px;
    margin-top:10px;
    margin-bottom:10px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav{
    width: 155px;
}
.navList{
    list-style: none;
    color:#4a4a4a;
    padding: 0px;
    margin:0px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.maincontent{
    height: 100vw;
    background-color: #3CDBC0;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top:13px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content p{
    margin-top:0px;
    margin-bottom:0px;
    padding-left: 82.5px;
    padding-right: 82.5px;
    text-align: center;
    max-width: 155px;
}

@media all and (min-width:768px){
    .headercontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom:20px;
        margin-top:20px;
    }

    .logo{
        width: 155px;
        margin-top:0px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

}
